/* Pastikan App.css di-import di index.js atau App.js */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* tinggi penuh layar */
}

/* Konten ambil ruang tersisa supaya footer terdorong ke bawah */
.content {
  flex: 1;
}

/* Styling footer */
footer {
  background-color: #03045e; /* warna navy */
  color: white;
  text-align: center;
  padding: 15px;
}